:root {
  --baelish: #dbb20c;
  --baratheon: #f9cd0b;
  --bolton: #9c232a;
  --clegane: #e8a21c;
  --frey: #b4aea0;
  --greyjoy: #b29338;
  --lannister: #bd0706;
  --martell: #e6801c;
  --mormont: #628c38;
  --stark: #8e8e8e;
  --targaryen: #c84348;
  --tarly: #889057;
  --tarth: #5556b6;
  --tyrell: #10870f;
}

@font-face {
  font-family: 'GoT';
  src: url('./assets/GoT.ttf');
}

#root {
  margin: 0 auto;
  padding: 1vw;
  width: 97vw;
  height: 100%;
}

body{
  margin: 0;
  background-color: #1e1919;
  line-height: 1.2rem;
}


/* Top Level styling for layout */

.containerButtonQuote {
  width: 97vw;
  min-height: 30vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0px;
}

.getQuoteButton {
  width: 150px;
  height: 60px;
  font-family: 'GoT';
  font-weight: bold;
  letter-spacing: .2rem;
  margin-top: 30px;
}

.defaultText {
  color: white;
  font-family: 'GoT';
}

.containerHouses {
  width: 97vw;
  height: 85vh;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px 20px;
}

.--undefined{
  letter-spacing: 0.2rem;
  padding: 20px;
  width: 60%;
}

.GoTLogo {
  width: 150px;
  height: 150px;
  border: 2px solid grey;
  border-radius: 50%;
  filter: drop-shadow(0 0 1em grey)
}

.bottomBorder{
  height: 0px;
  width: 100%;
  position: fixed;
  bottom: 0px;
  transition: 1s;
}




.recentQuoteOuterBox {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
}


.mostRecentQuoteBox {
  width: 60%;
  font-family: 'GoT';
  letter-spacing: 0.2rem;
  padding: 20px;
  background-color:#303030;
  transition: .5s;
  color: white;
}



.glow{
  filter: drop-shadow(0 0 1em)
}


.houseCard {
  text-wrap: wrap;
  flex-basis: 45%;
  transition: all .5s;
  height: 20vh;
  border-radius: 5px;
  scrollbar-width: 0px;
  overflow-y: auto;
  scrollbar-width: thin;
  background-color: #403e3e;
}

.houseCard:hover {
  height: 30vh;
  transition: all .5s;
  filter: drop-shadow(0 0 1em);
  position: relative;
  z-index: 20;
}


.houseTitle {
  text-align: center;
  font-family: 'GoT';
  letter-spacing: .2rem;
  font-weight: 600;
}

.houseMemberName {
  font-family: 'GoT';
  letter-spacing: .2rem;
  font-size: .85rem;
  text-decoration: underline;
  line-height: 2rem;
  cursor: pointer;
}

.accordionBody {
  width: 90%;
  height:100px;
  background-color: #6d6868;
  transition: .5s;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.quoteText {
  margin: 15px;
  color: white;
  font-size: 1.15rem;
  font-family: monospace;
}

.closed {
  height: 0px;
  transition: .5s;
  overflow-y: scroll;
  scrollbar-width: thin;
}
  
  /* individual house card styling */
  
  .--baelish{ 
    scrollbar-color: var(--baelish) #303030;
    color: var(--baelish);
    border: 2px solid var(--baelish);
  }
  
  
  .--baratheon{ 
    scrollbar-color: var(--baratheon) #303030;
    color: var(--baratheon);
    border: 2px solid var(--baratheon);
  }
  
  
  .--bolton{ 
    scrollbar-color: var(--bolton) #303030;
    color: var(--bolton);
    border: 2px solid var(--bolton);
  }
  
  
  .--clegane{ 
    scrollbar-color: var(--clegane) #303030;
    color: var(--clegane);
    border: 2px solid var(--clegane);
  }
  
  
  .--frey{ 
    scrollbar-color: var(--frey) #303030;
    color: var(--frey);
    border: 2px solid var(--frey);
  }
  
  
  .--greyjoy{ 
    scrollbar-color: var(--greyjoy) #303030;
    color: var(--greyjoy);
    border: 2px solid var(--greyjoy);
  }
  
  
  .--lannister{ 
    scrollbar-color: var(--lannister) #303030;
    color: var(--lannister);
    border: 2px solid var(--lannister);
  }
  
  
  .--martell{ 
    scrollbar-color: var(--martell) #303030;
    color: var(--martell);
    border: 2px solid var(--martell);
  }
  
  
  .--mormont{ 
    scrollbar-color: var(--mormont) #303030;
    color: var(--mormont);
    border: 2px solid var(--mormont);
  }
  
  
  .--stark{ 
    scrollbar-color: var(--stark) #303030;
    color: var(--stark);
    border: 2px solid var(--stark);
  }
  
  
  .--targaryen{ 
    scrollbar-color: var(--targaryen) #303030;
    color: var(--targaryen);
    border: 2px solid var(--targaryen);
  }
  
  
  .--tarly{ 
    scrollbar-color: var(--tarly) #303030;
    color: var(--tarly);
    border: 2px solid var(--tarly);
  }
  
  
  .--tarth{ 
    scrollbar-color: var(--tarth) #303030;
    color: var(--tarth);
    border: 2px solid var(--tarth);
  }
  
  
  .--tyrell{ 
    scrollbar-color: var(--tyrell) #303030;
    color: var(--tyrell);
    border: 2px solid var(--tyrell);
  }